@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+NO:wght@100..400&display=swap');


.home {
    background-image: url(./Assets/MERN_Dev.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;

}

.glassmorphism {
    background: rgba(255, 255, 255, 0.187);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    z-index: 1111;
}

.menu {
    z-index: 2222;
}

.menu ul a {
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    text-align: center;
    background: transparent;
}

.menu ul a li {
    border-radius: .4rem;
    padding: 1rem;
    margin: .3rem;
    border: 1px solid black;
    transition: all .3s ease-in-out;
}

.menu ul a li:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}


.portfolio>div>img {
    height: 15rem;
    max-width: 100%;
}

footer h2 {
    font-family: Playwrite NO, cursive;
}

form label {
    color: white;
    font-size: medium;
    padding: .3rem;
    margin: .2rem;
    font-family: Playwrite NO, cursive;

}



form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    border: 1px solid lightgray;
    background-color: white;
    color: rgb(58, 58, 58);
    font-family: Playwrite NO, cursive;
    font-weight: 300;
    border-radius: .4rem;
    margin-bottom: 1.5rem;
}

form div input:focus {
    outline: none;
}

.formBtn {
    background: #000;
    border: none;
}

form div button {
    width: 50%;
    padding: .5rem;
    margin: .3rem;
    border: 1px solid gray;
    border-radius: .4rem;

}

.neu_Card {
    transition: all .3s ease-in-out;
}

.service_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    padding: .5rem;
    margin: .5rem;
    border: 1px solid gray;
    border-radius: 50%;
}

.neu_Card:hover {

    background: #e0e5ec;
    box-shadow: -15px -15px 30px #feffff,
        15px 15px 30px #c2c7ce;
}


.Footer_Content {
    font-family: Playwrite NO, cursive;
}