# ---------- App ----------
PORT=5000
NODE_ENV=development
JWT_SECRET=my_super_secret_key_123
JWT_EXPIRES_IN=7d

# ---------- Docker: MongoDB ----------
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=rootpassword
MONGO_DB_NAME=blog_db

# ---------- Docker: Redis ----------
REDIS_PASSWORD=redispassword

# ---------- Docker: Mongo Express ----------
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=admin123

# ---------- App connection strings ----------
MONGO_URI=mongodb://root:rootpassword@localhost:27017/blog_db?authSource=admin
REDIS_URL=redis://:redispassword@localhost:6379