menu ul {
    text-align: center;
    align-items: center;
    font-weight: 500;

}

menu ul li {
    margin: .4rem;
    padding: .4rem;
    width: 100%;
    transition: all .3s ease-in-out;

}

menu ul li a {
    text-align: center;
}

menu ul li:hover {
    background: white;
    transform: scale(1.1);
}

.items_Img img {
    height: 2.5rem;
    width: auto;
}

.expDiv div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border: 1px solid rgba(189, 188, 188, 0.579);
    border-radius: .3rem;
    margin: 1rem 0rem;
    transition: all .3s ease-in-out;
}

.expDiv div:hover {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-1rem);
}

.expDiv div h2 {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    margin: .3rem;
}

.expDiv div p {
    text-align: justify;

}

.readyContent ul li {
    /* font-size: 1.3rem; */
    padding: .5rem;
    border: 1px solid rgba(163, 162, 162, 0.579);
    font-weight: 500;
    color: gray;
    border-radius: .7rem;
    margin: .3rem;
}

.readyContent ul li i {
    font-size: 1.5rem;
    pad: .3rem;
}

.neumorphism {
    border-radius: 20px;
    background: #f5f9ff;
    box-shadow: -15px -15px 30px #feffff,
        15px 15px 30px #c2c7ce;
}

.schedule div details {
    border: 1px solid lightgray;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .8rem;
    margin: .5rem 0rem;
}


.schedule div details p {
    color: gray;
    font-size: 1rem;
    font-weight: 500;
}

.Barnding_links ul h2 {
    font-size: .8rem;
    font-weight: 600;
}